body{
    margin: 0;
    padding: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('avion-despegue.jpg');
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    overflow: hidden;
}

.titulo{
    width: 100%;
    padding: 40px 0;

    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

    color: rgb(2, 11, 141);
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('cielo.jpg');
    background-size: cover;
    background-position: center;
}

.contenedor-secciones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    height: 30px;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-size: 13px;
}

.caja-seccion{
    flex: 1;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;

    color: aliceblue;
    text-decoration: none;
    box-sizing: border-box;

    position: relative;
    cursor: pointer;
}

.caja-seccion:hover::after {
    content: "▼";
    position: absolute;

    top: 350px;
    right: 5%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-size: 12px;

    animation: rebote 1.5s infinite;
    z-index: 100;
}

@keyframes rebote {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, 5px); }
}

.caja-seccion:hover{
    filter: brightness(1.1);
}

.caja-seccion:first-child {
    border-bottom-left-radius: 15px;
}

.caja-seccion:last-child {
    border-bottom-right-radius: 15px;
}

.color1{
    background-color: rgb(0, 0, 0);
}

.color2 {
    background-color: rgb(75, 191, 212);
}

.desplegable{
    display: none;
    position: absolute;

    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    z-index: 10;

    max-height: 344.5px; /* Ajusta esta altura a tu gusto (ej. 200px, 40vh, etc.) */
    overflow-y: auto;  /* Muestra el scroll solo si el contenido excede la altura */
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.desplegable li a{
    display: block;
    padding: 10px;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 12px;
    font-weight: bold;

    border-radius: 25px;

}

.desplegable li a:hover{
    background-color: rgb(189, 226, 253);
    font-size: 12px;
    font-weight: bold;
}

.caja-seccion:hover .desplegable{
    display: block;
}

.contenedor-texto{
    display: flex;
    align-items: flex-start;

    justify-content: center;
    margin: 50px auto;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

    gap: 90px;
}

.texto{
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    text-align: justify;
    background-color: #ffffff3a;
    background-size: cover;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.texto h2{
    text-align: center;
    font-size: 16px;

    background-color: #dad346e5;
    color: aliceblue;

    border-radius: 20px;
    padding: 10px;
}

.texto p{
    background-color: #ffffffda;

    border-radius: 20px;
    padding: 30px;
}

.espana:hover{
    background: linear-gradient(#ff0000, #fff700, #ff0000);
    color: black;
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
}

.alemania:hover{
    background: linear-gradient(#000000, #ff0000, #fff700);
    color: white;
    border-color: rgb(12, 0, 0);
    border-width: 1px;
    border-style: solid;
}

.hungria:hover{
    background: linear-gradient(#ff0000, #ffffff, #36cb00);
    color: black;
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
}

.austria:hover{
    background: linear-gradient(#ff0000, #ffffff, #ff0000);
    color: black;
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
}

.grecia:hover{
    background: linear-gradient(#0e88fb, #ffffff, #0e88fb);
    color: black;
    border-color: #0e49fb;
    border-style: solid;
    border-width: 1px;
}

.belgica:hover{
    background: linear-gradient(#000000, #fff700, #ff0000);
    color: rgb(0, 0, 0);
    border-color: rgb(12, 0, 0);
    border-width: 1px;
    border-style: solid;
}

.dinamarca:hover{
    background: linear-gradient(#ff0000, #ffffff, #ff0000, #ffffff);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 0);
    border-width: 1px;
    border-style: solid;
}

.francia:hover{
    background: linear-gradient(#0004ff, #ffffff, #ff0000);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 0);
    border-width: 1px;
    border-style: solid;
}

.holanda:hover{
    background: linear-gradient(#af1111, #ffffff, #0f43ab);
    color: rgb(0, 0, 0);
    border-color: #af1111;
    border-width: 1px;
    border-style: solid;
}

.islandia:hover{
    background: linear-gradient(#0a50dd, #ffffff, #dd0a0a, #ffffff);
    color: rgb(0, 0, 0);
    border-color: #0a50dd;
    border-width: 1px;
    border-style: solid;
}

.luxemburgo:hover{
    background: linear-gradient(#ff0000, #ffffff, #00e5ff);
    color: rgb(0, 0, 0);
    border-color: #ff0000;
    border-width: 1px;
    border-style: solid;
}

.italia:hover{
    background: linear-gradient(#18c501, #ffffff, #ff0000);
    color: rgb(0, 0, 0);
    border-color: #18c501;
    border-width: 1px;
    border-style: solid;
}

.polonia:hover{
    background: linear-gradient(#ffffff, #ffffff, #ff0000);
    color: rgb(0, 0, 0);
    border-color: #ff0000;
    border-width: 1px;
    border-style: solid;
}

.rumania:hover{
    background: linear-gradient(#193b99, #f3da1b, #dc0000);
    color: rgb(0, 0, 0);
    border-color: #dc0000;
    border-width: 1px;
    border-style: solid;
}

.bulgaria:hover{
    background: linear-gradient(#ffffff, #028e00, #b90000);
    color: rgb(255, 255, 255);
    border-color: #dc0000;
    border-width: 1px;
    border-style: solid;
}

.suiza:hover{
    background: linear-gradient(#ff0000, #f8b5b5, #ff0000);
    color: rgb(0, 0, 0);
    border-color: #dc0000;
    border-width: 1px;
    border-style: solid;
}

.rcheca:hover{
    background: linear-gradient(#ffffff, #002fff, #ff0000);
    color: rgb(255, 255, 255);
    border-color: #dc0000;
    border-width: 1px;
    border-style: solid;
}

.suecia:hover{
    background: linear-gradient(#2742b8, #fffb00, #2742b8);
    color: rgb(0, 0, 0);
    border-color: #2742b8;
    border-width: 1px;
    border-style: solid;
}

.escocia:hover{
    background: linear-gradient(#002bec, #ffffff, #002bec);
    color: rgb(0, 0, 0);
    border-color: #2742b8;
    border-width: 1px;
    border-style: solid;
}

.inglaterra:hover{
    background: linear-gradient(#ffffff, #ffffff, #ff0000, #ffffff, #ffffff);
    color: rgb(0, 0, 0);
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}

.eslovenia:hover{
    background: linear-gradient(#ffffff, #0044ff, #ff0000);
    color: rgb(255, 255, 255);
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}

.croacia:hover{
    background: linear-gradient(#ff0000, #ffffff, #162eb9);
    color: rgb(0, 0, 0);
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}