body{
    margin: 0;
    padding: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('avion-despegue.jpg');
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    overflow: hidden;
}

.titulo{
    width: 100%;
    padding: 40px 0;

    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

    color: rgb(2, 11, 141);
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('cielo.jpg');
    background-size: cover;
    background-position: center;
}

.contenedor-secciones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    height: 30px;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-size: 13px;
}

.caja-seccion{
    flex: 1;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;

    color: aliceblue;
    text-decoration: none;
    box-sizing: border-box;

    position: relative;
    cursor: pointer;
}

.caja-seccion:hover{
    filter: brightness(1.1);
}

.caja-seccion:first-child {
    border-bottom-left-radius: 15px;
}

.caja-seccion:last-child {
    border-bottom-right-radius: 15px;
}

.color1{
    background-color: rgb(0, 0, 0);
}

.color2 {
    background-color: rgb(75, 191, 212);
}

.desplegable{
    display: none;
    position: absolute;

    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    z-index: 10;
}

.desplegable li a{
    display: block;
    padding: 10px;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 12px;
    font-weight: bold;

    border-radius: 25px;

}

.desplegable li a:hover{
    background-color: rgb(189, 226, 253);
    font-size: 12px;
    font-weight: bold;
}

.caja-seccion:hover .desplegable{
    display: block;
}

.contenedor-texto{
    display: flex;
    align-items: flex-start;

    justify-content: center;
    margin: 50px auto;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

    gap: 90px;
}

.texto{
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    text-align: justify;
    background-color: #ffffff3a;
    background-size: cover;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.texto h2{
    text-align: center;
    font-size: 16px;

    background-color: #dad346e5;
    color: aliceblue;

    border-radius: 20px;
    padding: 10px;
}

.texto p{
    background-color: #ffffffda;

    border-radius: 20px;
    padding: 30px;
}

.espana:hover{
    background: linear-gradient(#ff0000, #fff700, #ff0000);
    color: black;
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
}

.alemania:hover{
    background: linear-gradient(#000000, #ff0000, #fff700);
    color: white;
    border-color: rgb(12, 0, 0);
    border-width: 1px;
    border-style: solid;
}

.hungria:hover{
    background: linear-gradient(#ff0000, #ffffff, #36cb00);
    color: black;
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
}

/*
<div class = "contenedor-texto">
            <div class = "texto">
                <h2>PAISES SCHENGEN</h2>
                <p>
                    El espacio Schengen es esencialmente una zona de libre circulación que engloba a 29 naciones europeas.
                    Su principal característica es que ha suprimido los controles fronterizos en sus límites comunes, permitiendo que personas, bienes y servicios se desplacen con total libertad,
                    de forma muy similar a como te moverías entre provincias de un mismo país.<br><br>

                    Se trata de un acuerdo de cooperación internacional que establece un territorio sin fronteras internas. En este espacio, los estados miembros han unificado sus normativas
                    sobre visados y seguridad, permitiendo que cualquier individuo que haya cruzado legalmente una
                    frontera exterior pueda transitar por el resto del área sin someterse a nuevos controles de identidad.
                </p>
            </div>

            <div class = "texto">
                <h2>PAISES NO SCHENGEN</h2>
                <p>
                    Los territorios No Schengen son aquellas naciones europeas que mantienen sus propias fronteras y controles de seguridad independientes. Su principal característica
                    es que conservan la soberanía sobre sus límites territoriales, lo que obliga a cualquier viajero a someterse a inspecciones de identidad y
                    pasaporte al cruzar sus fronteras, incluso si provienen de un país vecino dentro del continente.<br><br>

                    Se trata de estados que, por razones políticas, geográficas o de soberanía, no forman parte del acuerdo de libre circulación. En este espacio, cada país
                    aplica sus propias normativas de extranjería y seguridad, lo que implica que el cruce de sus fronteras no es automático: todo individuo debe validar su documentación legal (pasaporte)
                    ante las autoridades migratorias correspondientes para poder ingresar o transitar por su territorio.
                </p>
            </div>
</div>
*/